<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900">
        <p class="pt-4 text-white text-3xl text-center font-bold">Task Manager</p>
        <div class="form">
            <form action="/create" class="flex text-white flex-col items-center " method="post">
                <input class="mt-5 w-1/2 bg-zinc-800 outline-none px-2 py-2" type="text" name="title" placeholder="Title...">
                <textarea class="h-[120px] mt-2 bg-zinc-800 outline-none w-1/2 px-2 py-2 resize-none" name="details" id="" placeholder="Enter Task...."></textarea>
                <button type="submit" class="mt-2 bg-blue-500 px-3 py-2 rounded-sm text-white text-medium font-medium">Create Task</button>
            </form>
        </div>
        <div class="mt-8 flex flex-wrap gap-3 justify-center">
            <% if(files.length > 0){ %>
                <% files.forEach(function(val){ %>
                    <div class="flex flex-col justify-between w-72 h-[110px] rounded-sm bg-zinc-800 text-white px-4">
                        <h1 class=" text-xl mt-3"><%= val %></h1>
                        <div class="flex justify-between pb-4">
                            <a href="/files/<%= val %>" class="text-blue-500 inline-block ">Read About</a>
                            <a href="/edit/<%= val %>" class="text-green-500 inline-block ">Edit</a>
                        </div>
                    </div>
                <% }) %>
            <% }else{ %>
                <h4 class="text-zinc-500 text-xl">No task yet</h4>
            <% } %>
            
        </div>
        
    </div>
</body>
</html>