<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <a href="/back" class="block text-white bg-zinc-900 pt-8 pl-5"><span class="bg-blue-600 px-4 py-1 rounded-sm ">Back</span>
    </a>
    <div class="w-full min-h-[80vh] bg-zinc-900 py-4 px-10">
        <p class=" text-white text-3xl mb-4">File Details</p>
        <div class="h-[80vh] bg-zinc-800 p-4">
            <h1 class="text-white text-2xl">
                <%= filename %>
            </h1>
            <hr class="my-2">
            <h3 class="text-white text-[17px] font-light">
                <%= filedetails %>
            </h3>
        </div>



    </div>
</body>

</html>